<div class="form-group">
    <label class="form-label">
        <i class="bi bi-pencil-square"></i>
        Contenu
    </label>
    <div class="rich-editor-container" id="richEditor">
        {% include 'components/_editor_toolbar.html.twig' with { 'toolbar_id': 'richEditor-toolbar' } %}
        <div class="editor-content" contenteditable="true" id="editorContent">
            {{ content|raw }}
        </div>
    </div>
    <textarea style="display:none;" id="hiddenContent" name="{{ field_name }}">{{ content|raw }}</textarea>
</div>
